// Заголовки, общие БЄМ блоки и проче...

.title {
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 25, $containerWidth, $minWidth, 1);
    line-height: 141%;
    color: #252525;

    &_w {
        color: #FFFFFF;
        line-height: 151%;
    }

	&_large {
		font-weight: 700;
		@include adaptiveValue("font-size", 50, 25, $containerWidth, $minWidth, 1);
		line-height: 121.5%;
		color:#000;
	}
}

.select {
	font-family: inherit;
	background: #fff url('@img/icons/select-icon.svg') 96% no-repeat;
	@include adaptiveValue("background-size", 16, 13, $containerWidth, $minWidth, 1);
	padding-left: 15px;
	@include adaptiveValue("padding-right", 30, 15, $containerWidth, 991, 1);
    -webkit-appearance: none;
}

.swiper-wrapper {
}
.swiper-slide {
}


@keyframes border {
	0% {
		transform: scale(0);
		border-width: 10px;
		opacity: 1;
	}
	50% {
		opacity: 0.8;
	}
	80% {
		border-width: 1px;
	}
	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}